.us {
    position: absolute;
    left: 15%;
    top: 15px;
    color: white;
}

.fform {
    position: absolute;
    left: 5%;
    top: 100px;
}

.guit {
    position: absolute;
    left: 30%;
    top: 70px;
}